<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<h1>Registration: </h1>

<br> <br>

<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
<div>
  <label for="login">Name</label>
  <input type="text" th:field="*{login}" id="login" placeholder="Login">
  <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
</div>
<div>
  <label for="email">Email</label>
  <input type="email" th:field="*{email}" id="email" placeholder="Email">
  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
</div>
<div>
  <label for="password">Password</label>
  <input type="password" th:field="*{password}" id="password" placeholder="Password">
  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
</div>

<br> <br>

<div>
  <input type="submit" value="Add User">
</div>
</form>



</body>
</html>